09.03.01_PIiKN_B3_metod1.pdf
09.03.01_PIiKN_VKR_annot.docx
09.03.01_PIiKN_VKR_normokontrol.docx
09.03.01_PIiKN_VKR_posl_str.docx
09.03.01_PIiKN_VKR_spisok_literat.docx
09.03.01_PIiKN_VKR_titul.docx
aprof/*
det-tests/*
jacobi-tests/*
src/*
Untitled 1.odt
.~*/*
